body{
    font-family: Arial;
    font-size: 18px;
}

header, footer{
    background-color: bisque;
}

.site-title{
    color:rgb(34, 8, 113);
}

#my-image{
    box-shadow: 0vh; 
    color: black;   
    
}

