*:before,
*:after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(31, 27, 27);
    padding: 3rem;
}

.wrapper{
    margin: 0 auto;
    width: 90%;
}

.logo{
    background-color: rgb(187, 130, 38);
    margin: 1rem;
    text-align: left;

    
}