*,
*:before,
*:after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(31, 27, 27);
    padding: 1rem;
}

.wrapper{
    margin: 0 auto;
    max-width: 1200px;
}


.logo{
    background-color: #c78c06;
    text-align: left;
    height: 100px;
}

/* using flex, because nav is a father that has a lot of children, and using x,y axis is easier to set up, eg. culumn*/
nav ul{
   display: flex;
   flex-direction: column;
   text-align: center;  
}

nav ul li{
    padding: 1.5rem;
} 

nav ul li a{
    list-style: none;
    text-decoration: none;
    font-size: 1.3rem;
    color:#c78c06;
}

nav ul li:hover{
    background-color: #c78c06;
}

nav ul li a:hover, nav ul li a:active{
    color:black;
}

#search{
    display: inline-block;
    width: 90%;
    height: 50px;
    font-size: 1.2rem;
}

/* seting a background, and a bar box. */
#home{
    background-image: url(../images/main-banner.jpg);
    background-position: auto;
    background-repeat: no-repeat;
    background-size: cover; 

}

.box{
    padding: 100px 10px;
    text-align: left;
    color: white;
}

h1{
    font-size: 68px;
}

.box > p{
   padding: 15px 0px;
}

